@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .container
    margin: auto
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 570px ) 
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      min-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
@media screen and ( max-height: 520px ) 
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 500px ) 
  .hero
    &__content
      padding-left: 0
      padding: 1.28rem  
    &__title
      font-size: 23px
    &__text
      max-width: 321px
    &__button
      display: block
      min-width: 100%
      margin-bottom: 1.85rem
