@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .container
    margin: auto
    width: 100%
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px ) 
  .section
    padding: 0
    &-title
      &__text-description
        max-width: 305px
      &__word
        &::after
          content: ''
          width: 0
          height: 0
  .projects
    padding-bottom: 30rem
  .types
    padding-top: 82px
  .row
    flex-direction: column
    align-items: center
  .col
    margin: 0 0
  .col-50
    margin-bottom: 34px
    width: 100%
  .col-30
    width: 100%
  .types
    &__heading
      font-family: 'Yeseva One'
      font-style: normal
      font-weight: normal
      font-size: 22px
      line-height: 138.6%
      text-align: center
      text-transform: uppercase
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
  .design
    background-color: $dark
    padding-top: 82px
    &__heading
      font-family: 'Yeseva One'
      font-style: normal
      font-weight: normal
      font-size: 22px
      line-height: 138.6%
      text-align: center
      text-transform: uppercase
    &__section-title
      color: $light
    &__card
      margin-bottom: 5.7rem
  .section-title
    &__text
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 135.84%
      text-align: center
      color: $light
      max-width: 306px
  .staff
    background-color: $dark
    color: $light
    &__section-title
      &__heading
        font-family: 'Yeseva One'
        font-style: normal
        font-weight: normal
        font-size: 22px
        line-height: 138.6%
        text-align: center
        text-transform: uppercase
      &__text
        font-size: 15px
      &__description
        display: none
  .clients
    display: none
  .footer
    padding-top: 98.5px
    background: $dark
    &__title
      margin-bottom: 60px
    &__input
      border-bottom: 1px solid rgba($light, 0.3)
      &-group
        display: flex
        flex-direction: column
        flex-basis: 100%
        margin-bottom: 2rem
        margin-bottom: 60px
        &--full-width
          flex-basis: 100%
          margin-bottom: 2rem
        &:last-of-type
          margin-bottom: 21px
    &__wrap
      padding: 0
      background-color: $dark
      margin-top: 0
    &__policy
      display: flex
      justify-content: flex-start
      margin-bottom: 67px
    &__phone
      color: $primary
    &__button
      width: 100%
    &__menu
      display: none
      padding: 0
    &__information
      max-width: 313px
      font-size: 18px
      &__description
        margin-top: 42px
        margin-bottom: 24px
    &__map
      max-height: 255px
    &__location
      display: flex
      flex-wrap: wrap
      justify-content: center
      &--first
        margin: 0
        order: 2
      &--last
        width: 100%
        margin: 0
        order: 1
    &__icons
      margin-bottom: 24px
@media screen and ( max-width: 570px ) 
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      min-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
  .control
    &__section-title
      margin-bottom: 3.6rem
    &__text
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 169.8%
      text-align: center
      max-width: 340px
      &::before
        margin-bottom: 17px
    &__video
      margin-bottom: 25px
    &__title
      font-family: 'Yeseva One'
      font-style: normal
      font-weight: normal
      font-size: 22px
      line-height: 28px
      text-align: center
      text-transform: uppercase
      margin-bottom: 18px
    &__phone
      color: $primary
    &__input
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 24px
      margin-top: 0
      padding-top: 0
      &-group
        margin-bottom: 61px
    &__label
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 20px
      margin-bottom: 0
    &__policy
      &__label
        font-family: 'Futura Book'
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 22px
        margin-top: 5px
    &__button
      font-family: 'Futura Demi'
      font-style: normal
      font-weight: 500
      font-size: 15px
      line-height: 26px
      text-align: center
      text-transform: uppercase
  .footer
    &__title
      font-family: 'Yeseva One'
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 28px
      text-align: center
      text-transform: uppercase
      margin-bottom: 48px
    &__phone
      color: $primary
    &__input
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 24px
      margin-top: 0
      padding-top: 0
      &-group
        margin-top: 31px
        margin-bottom: 31px
        &--full-width
          flex-basis: 100%
          margin-bottom: 20px
    &__label
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 20px
    &__policy
      &__label
        font-family: 'Futura Book'
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 22px
    &__button
      font-family: 'Futura Demi'
      font-style: normal
      font-weight: 500
      font-size: 15px
      line-height: 26px
      text-align: center
      text-transform: uppercase
@media screen and ( max-height: 520px ) 
  .hero
    &__scroll-down
      display: none
@media screen and ( max-width: 525px ) 
  .hero
    &__content
      padding-left: 0
      padding: 1.28rem  
    &__title
      max-width: 386px
      font-size: 23px
    &__text
      font-size: 18px
      max-width: 321px
    &__button
      display: block
      min-width: 100%
      margin-bottom: 1.85rem
  .control
    background-color: $dark
    color: $light
    &__form
      display: flex
      flex-direction: column
    &__input
      color: $light
      border-bottom: 1px solid rgba($light, 0.3)
      &::placeholder
        color: $light
    &__label
      color: rgba($light, 0.5)
    &__policy
      &__label
        color: $light
    &__text
      margin-bottom: 0
    &__input-group
      margin-top: 31px
      margin-bottom: 26px
    &__video
      width: 100%
    &__policy
      display: flex
      justify-content: flex-start
      position: relative
    &__button
      position: relative
      top: 22px
      width: 100%
      margin: auto
  .form
    &__element:nth-of-type(1)
      order: 1
    &__element:nth-of-type(2)
      order: 2
      margin-bottom: 0
    &__element:nth-of-type(3)
      order: 4
    &__element:nth-of-type(4)
      order: 3
      margin-bottom: 40px
  .projects
    &__heading, &__word
      font-family: 'Yeseva One'
      font-style: normal
      font-weight: normal
      font-size: 22px
      line-height: 138.6%
      letter-spacing: -0.07em
      text-transform: uppercase
    &__text-description
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 158.48%
      margin-bottom: 38px
  .swiper-slide
    &__text
      flex-basis: 44%
    &__information
      height: 170px
    &__heading
      font-family: 'Yeseva One'
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 138.6%
      text-transform: uppercase
      margin-bottom: 10px
    &__value 
      font-family: 'Futura Book'
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 135.84%
@media screen and ( max-width: 380px ) 
  .control
    &__video
      height: 207px
      background: $dark url('../img/video-mask-adaptive.jpg') no-repeat center
  .video
    &__play
      width: 97px