.projects
  padding-bottom: 30rem
.row
  align-items: flex-start
.container
  &-width
    margin: 0 100px
.section
  padding-top: 4.28rem
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      text-transform: uppercase
      font-family: 'Yeseva One', cursive
      line-height: 138%
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 92px
        height: 2px
        background-color: $primary
        margin-left: 2rem
    &__text-description
      font-size: 1.28rem
      line-height: 2.07rem
      max-width: 31.57rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
.swiper
  &-width
    margin-left: 0
    max-width: 442px
  &-slide
    display: flex
    flex-wrap: wrap
    &__text
      flex-basis: 50%
      margin-bottom: 2.42rem
      padding-bottom: 2rem
    &__heading
      font-size: 1.285rem
      line-height: 1.78rem
      font-family: 'Yeseva One', cursive
      color: $primary
      text-transform: uppercase
      margin-bottom: 0.64rem
  &-pagination
    &-bullet
      background-color: $light
      &-active
        background-color: $light
  &-button
    &-prev, &-next
      bottom: 0
      top: auto
      background-size: 42px
      width: 42px
      height: 14px
      &::after
        display: none
    &-prev
      left: 0
      background: url('../img/arrow-prev.svg') no-repeat center
    &-next
      background: url('../img/arrow-next.svg') no-repeat center
.swiper-container-horizontal>.swiper-pagination-bullets
  width: auto
  bottom: 0
